<footer class="footer">
	<small>
		The <%= link_to "Tweettoo", "/" %> application by 
				<%= link_to "Ghulam Murtaza", "http://www.facebook.com/GhulaMurtazaRind" %>, 
				<%= link_to "Kalsoom Akhtar", "http://www.facebook.com/kalsoom.iqbal.50" %>, 
				<%= link_to "Safiullah", 			"http://www.facebook.com/safiullah.jan.129" %>, 
				<%= link_to "Manzoor Ahmed", 	"http://www.facebook.com/manzoor.ahmed.7161" %>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", 		about_path %></li>
			<li><%= link_to "Contact", 	contact_path %></li>
			<li><%= link_to "News", 		"http://news.railstutorial.org/" %></li>
		</ul>
	</nav>
</footer>